{% extends "base.html" %}

{% block content %}
<h2>Регистрация</h2>

<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label>Email</label>
        <input type="email" name="email" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Пароль</label>
        <input type="password" name="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-success">Зарегистрироваться</button>
</form>

<p class="mt-3">Уже есть аккаунт? <a href="/login/">Войти</a></p>

{% endblock %}